<section id="services">
    <h2>SERVIÇOS</h2>
    <div HoverPhoto>
        <!-- img/configs.png -->
        <img [src]="services" [alt]="altServices">
        <h3>Fácil Integração</h3>
        <p>Integra facilmente seu site a qualquer gerenciador de conteúdo.</p>
    </div>
    <div HoverPhoto>
        <!-- img/hospedagem.png -->
        <img [src]="accommodation" [alt]="altAccommodation">
        <h3>Hospedagem Moderna</h3>
        <p>Não deixe seus clientes na mão. Tenha seu site 24hrs no ar.</p>
    </div>   
    <div HoverPhoto>
        <!-- img/site.png -->
        <img [src]="site" [alt]="altSite">
        <h3>Melhores Práticas</h3>
        <p>Código legível, desenvolvido com as melhores práticas.</p>
    </div>
    <div HoverPhoto>
        <!-- img/coracao.png -->
        <img [src]="heart" [alt]="altHeart">
        <h3>Feito com Amor</h3>
        <p>É melhor fazer seus sites com amor hoje em dia!</p>
    </div>
</section>
