<section id="portfolio">
    <h2>PORTFÓLIO</h2>    
        <!-- img/portfolio-1.jpg -->
        <img HoverPhoto brightness='70%' [src]="mushrooms" [alt]="altMushrooms">
        <!-- img/portfolio-2.jpeg -->
        <img HoverPhoto brightness='70%' [src]="wheatField" [alt]="altWheatField">
        <!-- img/portfolio-3.jpeg -->
        <img HoverPhoto brightness='70%' [src]="mountains" [alt]="altMountains">
        <!-- img/portfolio-4.jpeg -->
        <img HoverPhoto brightness='70%' [src]="frozenForest" [alt]="altFrozenForest">
        <!-- img/portfolio-5.jpeg -->
        <img HoverPhoto brightness='70%' [src]="beach" [alt]="altBeach">
        <!-- img/portfolio-6.jpeg -->
        <img HoverPhoto brightness='70%' [src]="hart" [alt]="altHart">
</section>